.titleWeather {
    background-image: url(img/summer-bg.webp);
}
.titleWeather h2 {

}

.preloader span{
    /* background-image: url(img/loader.svg);
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%; */
}